body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color: rgb(130, 202, 116);
} 
p{
    color: rgb(87, 145, 184);
}
.sale {
    font-weight: bold;
    background-color: rgb(62, 165, 125);
}