body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: rgb(159, 159, 230);
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#sidenote {
    background-color:#dbd9d9;
}